*{
    margin: 0px;
    padding: 0px;
    font-family: primary-font, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family : primary-font;
    src: url(fonts/Poppins-Regular.ttf);
}
:root{
    --lightPink : rgb(255, 194, 180);
    --darkPink : #FF8882;
    --darkTeal : #194350;
    --lightTeal : #9DBEB9;
}
body{
    background-color: rgba(255, 194, 180, 0.4);
}
a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: black;
}
  
a:active {
    text-decoration: none;
    color: black;
}
/*////////////////////////////////// Navbar //////////////////////////////////////////*/
nav{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    width: fit-content;
    z-index: 696969696969696969;
}
.navbar{
    display: flex;
    width: 20vw;
    padding: 10px 10px;
    justify-content: space-between;
    border-radius: 69vw;
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar div{
    background-color: var(--lightPink);
    border-radius: 69vw;
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
}
.navbar > div:hover{
    background-color: whitesmoke;
    transition-duration: 0.35s;
}
.navbar a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img{
    width: clamp(20px, 3.5vw, 30px);
    height: clamp(20px, 3.5vw, 30px);
}
.superContainer{
    display: flex;
    flex-direction: column;
}
/* ////////   SECTION 1   ///////////////////////////////////////////////////////////////////////////////////////// */

.Landing-page{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    height: 100vh;
}
.illustrations{
    display: flex;
    align-items: center;
}
.logo{
    margin: 1vw 0vw 0vw 1vw;
}
.logo img{
    width: clamp(150px,20vw,400px);
}
.Landing-page-Illustration{
    width: clamp(400px, 30vw, 700px);
}
.buttonBoxes{
    display: flex;
    flex-direction: column;
    height:10rem;

}

.Box1, .Box2{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 6px 10px rgba(0,0,0,0.09) ;
    width: calc( 26vw - 20px );
    /* height: calc((400px + 15vw)/2 - 40px); */
    height: 10rem;
    margin: 10px 15px;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.Box1{
    background-color:hsl(10, 100%, 91%);
    height:50%
}

.Box2{
    background-color:hsl(180, 100%, 30%);
    color: whitesmoke;
    height:50%
}

.buttonBoxes p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonBoxes > div:hover{
    transform: scale(105%,105%);
    transition-duration: 0.7s;
}

@media screen and (max-width: 830px) {
    .Landing-page{
        flex-direction: column;
    }
    .illustrations{
        flex-direction: column;
    }
    .buttonBoxes{
        flex-direction: row;
    }
    .Box1, .Box2{        
        width: calc( 45vw - 20px );
    }
}

/* ////////////////////////// Join Events Section ///////////////////////////////////////////////////////////////// */

#cardsPage{
    height: 100vh;
}
#eventSet1{
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}
.event{
    min-width: calc(100vw/3);
}
.eventOdd > div > div{
    position: relative;
    text-align: end;
    bottom: -140px;
}
.eventOdd{
    position: relative;
    bottom: -100px;
}
h4.card-title{
    font-size: 1.8vw;
}
h3.card-title{
    font-size: 1.6vw;
}
.card-text{
    font-size: 1.2vw;
}

@media screen and (max-width: 830px) {
    #eventSet1{
        flex-wrap: wrap;
        overflow-x: visible;
        width: auto;
    }
    .event{
        width: calc(100vw / 2);
    }
    .eventOdd{
        bottom: 0px;
    }
}
@media screen and (max-width: 500px) {
    #eventSet1{
        flex-wrap: wrap;
        overflow-x: visible;
        width: auto;
        justify-content: center;
    }
    .event{
        width: calc(90vw);
        margin-bottom: 20px;
    }
    .eventOdd{
        bottom: 0px;
    }
    h4.card-title{
        font-size: 3vw;
    }
    h3.card-title{
        font-size: 2.5vw;
    }
    .card-text{
        font-size: 2vw;
    }
}

/*//////////////////////////ANIMATION////////////////////////*/

.navbar {
    animation: fadeUp 1000ms forwards;
    opacity: 0;
    animation-delay:2000ms;
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(+20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
} 

.Landing-page  .illustrations  .Landing-page-Illustration{
    animation: fadeDown 1500ms forwards;
    opacity: 0;
    animation-delay:500ms;
}

@keyframes fadeDown {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }    
}

.Landing-page .buttonBoxes {
    animation: fadeLeft 1200ms forwards;
    opacity: 0;
    animation-delay:1200ms;
}

@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translateX(+20px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
} 

