*{
    margin: 0px;
    padding: 0px;
    font-family: primary-font, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family : primary-font;
    src: url(fonts/Poppins-Regular.ttf);
}
:root{
    --lightPink : rgb(255, 194, 180);
    --darkPink : #FF8882;
    --darkTeal : #194350;
    --lightTeal : #9DBEB9;
}
a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: black;
}
  
a:active {
    text-decoration: none;
    color: black;
}
/*////////////////////////////////// Navbar //////////////////////////////////////////*/
nav{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    width: fit-content;
    z-index: 696969696969696969;
}
.navbar{
    display: flex;
    width: 20vw;
    padding: 10px 10px;
    justify-content: space-between;
    border-radius: 69vw;
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar div{
    background-color: var(--lightPink);
    border-radius: 69vw;
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
}
.navbar > div:hover{
    background-color: whitesmoke;
    transition-duration: 0.35s;
}
.navbar a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img{
    width: clamp(20px, 3.5vw, 30px);
    height: clamp(20px, 3.5vw, 30px);
}
.superContainer{
    display: flex;
    flex-direction: column;
}
/* ////////   SECTION 1   ///////////////////////////////////////////////////////////////////////////////////////// */

.Landing-page{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    height: 100vh;
}
.illustrations{
    display: flex;
    align-items: center;
}
.logo{
    margin: 1vw 0vw 0vw 1vw;
}
.logo img{
    width: clamp(150px,20vw,400px);
}
.Landing-page-Illustration{
    width: clamp(400px, 30vw, 400px);
}
.buttonBoxes{
    display: flex;
    flex-direction: column;

}

.Box1, .Box2{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 6px 10px rgba(0,0,0,0.09) ;
    width: calc( 26vw - 20px );
    height: calc((400px + 15vw)/2 - 40px);
    margin: 10px 15px;
    font-size: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.Box1{
    background-color:hsl(10, 100%, 91%);
}

.Box2{
    background-color:hsl(180, 100%, 30%);
    color: whitesmoke;
}

.buttonBoxes p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonBoxes > div:hover{
    transform: scale(105%,105%);
    transition-duration: 0.7s;
}

@media screen and (max-width: 830px) {
    .Landing-page{
        flex-direction: column;
    }
    .illustrations{
        flex-direction: column;
    }
    .buttonBoxes{
        flex-direction: row;
    }
    .Box1, .Box2{        
        width: calc( 45vw - 20px );
    }
}

/* ////////////////////////// Join Events Section ///////////////////////////////////////////////////////////////// */



h4{
    position: relative;
    bottom:670px;
    left:200px;
}
h5{
    position: relative;
    bottom:690px;
    left:200px;
}
.box{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width:fit-content;
    height:fit-content;
    
}
.box:hover{    
    transform: scale(105%,105%);
    transition-duration: 0.5s;
}


.cardsPage{
    width: 100vw;
    overflow-x: scroll;
}
.card1-content{
    position:relative;
    top:1000px;
    right:20px;
}
.card1-content1{
    position: relative;
    top:140px;
    left:180px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card2-content1{
    position: relative;
    top:240px;
    left:450px;
    opacity: 0.7;
    font-size: 13px;
    line-height: 4px;
}
.card2-content{
    position: relative;
    top:1100px;
    left:250px;
}
.card3-content{
    position: relative;
    top:720px;
    left:650px;
}
.card3-content1{
    position: relative;
    bottom:145px;
    left:850px;
    opacity: 0.7;
    font-size: 13px;
    line-height: 4px;
}
.card4-content{
    position: relative;
    top:830px;
    left:1000px;
}
.card4-content1{
    position: relative;
    bottom:40px;
    left:1200px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card5-content{
    position: relative;
    top:330px;
    left:1300px;
}
.card5-content1{
    position: relative;
    bottom:530px;
    left:1500px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card6-content{
    position: relative;
    top:550px;
    left:1700px;
}
.card6-content1{
    position: relative;
    bottom:320px;
    left:1900px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.box1{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    left:190px;
    color:white;
}
.box2{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    right:500px;
    color:white;
}
.box3{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    right:160px;
    color:white;
}
.box4{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    left:1220px;
    color:white;
}
.box5{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    left:1570px;
    color:white;
}
.box6{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    left:1930px;
    color:white;
}
.container{
  width: 225px;
  height: 308px;
  position:absolute;
  transform:translate(-50%,-50%);
  box-shadow: 0 10px 20px rgb(red,green,blue)
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:black;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 45%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
.container:hover .overlay{
    opacity:0.8;
}



