*{
    margin: 0px;
    padding: 0px;
    font-family: primary-font, Arial, Helvetica, sans-serif;
}
:root{
    --lightPink : rgb(255, 194, 180);
    --darkPink : #FF8882;
    --darkTeal : #194350;
    --lightTeal : #9DBEB9;
}
.box-shadow1{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 6px 10px rgba(0,0,0,0.09) ;
    height: 550px;
    width:450px;
    margin: 0px, 15px;
    position:fixed;
    top:15px;
    left:50px;
    background-color:hsl(10, 100%, 91%);;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:60px;
    color:black;
    text-align: center;
    
}
.box-shadow1:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
.heading1{
    position: absolute;
    top:15px;
    left:120px;;
    font-size: 35px;
}
.heading2{
    line-height: 10px;
    position: absolute;
    top:60px;
    left:230px;;
    font-size: 25px;
}
input{
    position: relative;
    top:10px;
    width:400px;height: 30px;
    border:none;
    border-bottom:3px solid black;
    margin-bottom: 8px;
    background-color: transparent;
}
.paragraph1{
    line-height: 40px;
    position: absolute;
    top:160px;
    left:30px;
    font-size: 20px;
    text-align: left;
}
.box-shadow2{
    box-shadow:5px 10px 10px rgba(215,215,215,0.10),0 10px 20px rgba(0,0,0,0.09) ;
    height: 300px;
    width:600px;
    margin: 10px, 15px;
    border-radius: 15px;
    background-color: rgb(133, 245, 245);
    position: absolute;
    top:500px;
    left:600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:100px;
    color:black;
    text-align: center;
}
.box-shadow2:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
.heading3{
    font-size: 35px;
    text-align: centre;
}
.button {
    background-color: burlywood;
    color: black;
    padding: 20px 60px;
    margin: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    top:900px;
    left:700px
}
.button:hover{
    transform: scale(105%,105%);
    transition-duration: 0.5s;
}
.heading3{
    position:absolute;
    font-size: 25px;
    left:190px;
    top:10px;
    
}
.box-shadow3{
    box-shadow:5px 10px 10px rgba(215,215,215,0.10),0 10px 20px rgba(0,0,0,0.09) ;
    height: 300px;
    width:600px;
    margin: 10px, 15px;
    border-radius: 15px;
    background-color: rgb(133, 245, 245);
    position: absolute;
    top:50px;
    left:600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:100px;
    color:black;
    text-align: center;
}
.box-shadow3:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
.heading4{
    position:absolute;
    font-size: 45px;
    left:170px;
    bottom:250px;
}
.paragraph2{
    position:absolute;
    font-size: 25px;
    left:60px;
    top:80px;
}
.paragraph3{
    position:absolute;
    font-size: 25px;
    left:60px;
    top:180px;
}
.paragraph4{
    position:absolute;
    font-size: 20px;
    left:100px;
    top:60px;
}
.paragraph5{
    position:absolute;
    font-size: 20px;
    left:100px;
    top:160px;
}
nav{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    width: fit-content;
    z-index: 696969696969696969;
}
.navbar{
    display: flex;
    width: 20vw;
    padding: 10px 10px;
    justify-content: space-between;
    border-radius: 69vw;
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar div{
    background-color: var(--lightPink);
    border-radius: 69vw;
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
}
.navbar > div:hover{
    background-color: whitesmoke;
    transition-duration: 0.35s;
}
.navbar a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img{
    width: clamp(20px, 3.5vw, 30px);
    height: clamp(20px, 3.5vw, 30px);
}
.superContainer{
    display: flex;
    flex-direction: column;
}
.box-shadow4{
    box-shadow:5px 10px 10px rgba(215,215,215,0.10),0 10px 20px rgba(0,0,0,0.09) ;
    height: 300px;
    width:600px;
    margin: 10px, 15px;
    border-radius: 15px;
    background-color: rgb(133, 245, 245);
    position: absolute;
    top:1300px;
    left:600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:100px;
    color:black;
    text-align: center;
}
.box-shadow4:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
.paragraph6{
    position:absolute;
    font-size: 35px;
    left:130px;
    top:80px;
    color:black;
}
.paragraph7{
    position:absolute;
    font-size: 40px;
    left:140px;
    top:160px;
    color:black;
}

