.Landing-page{
    display:flex;
}
.logo{
    height:200px;
    position: relative;
    left:30px;
}
.Landing-page-Illustration{
    width: 36vw;
    position: relative;
    top:70px;
    right:59px
}
.Box1{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 6px 10px rgba(0,0,0,0.09) ;
    height: 500px;
    width: calc( 30vw - 20px );
    margin: 0px, 15px;
    background-color:hsl(10, 100%, 91%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:60px;
    color:rgb(9, 9, 88);
    text-align:center;
}
.Box1:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
.Box2{
    box-shadow:0 0px 0px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    height: 500px;
    width: calc( 30vw - 20px );
    margin: 0px, 15px;
    background-color:hsl(180, 100%, 30%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:60px;
    color: white;
    text-align: center;
}
.Box2:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
p{
    position: relative;
    top:170px;
}
h4{
    position: relative;
    bottom:670px;
    left:200px;
}
h5{
    position: relative;
    bottom:690px;
    left:200px;
}
.box{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width:fit-content;
    height:fit-content;
    
}
.box:hover{    
    transform: scale(105%,105%);
    transition-duration: 0.5s;
}
.card1-content{
    position:relative;
    top:1000px;
    right:20px;
}
.card1-content1{
    position: relative;
    top:140px;
    left:180px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card2-content1{
    position: relative;
    top:240px;
    left:450px;
    opacity: 0.7;
    font-size: 13px;
    line-height: 4px;
}
.card2-content{
    position: relative;
    top:1100px;
    left:250px;
}
.card3-content{
    position: relative;
    top:720px;
    left:650px;
}
.card3-content1{
    position: relative;
    bottom:145px;
    left:850px;
    opacity: 0.7;
    font-size: 13px;
    line-height: 4px;
}
.card4-content{
    position: relative;
    top:830px;
    left:1000px;
}
.card4-content1{
    position: relative;
    bottom:40px;
    left:1200px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card5-content{
    position: relative;
    top:330px;
    left:1300px;
}
.card5-content1{
    position: relative;
    bottom:530px;
    left:1500px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.card6-content{
    position: relative;
    top:550px;
    left:1700px;
}
.card6-content1{
    position: relative;
    bottom:320px;
    left:1900px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 4px;
}
.box1{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    left:190px;
    color:white;
}
.box2{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    right:500px;
    color:white;
}
.box3{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    right:160px;
    color:white;
}
.box4{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    left:1220px;
    color:white;
}
.box5{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1000px;
    left:1570px;
    color:white;
}
.box6{
    box-shadow:0 0px 10px rgba(215,215,215,0.10), 0 0px 20px rgba(0,0,0,0.09) ;
    width: 230px;
    height: 250px;
    background-color: rgba(151, 145, 145, 0.4);
    text-align:center;
    font-size:25px;
    position: relative;
    top:1300px;
    left:1930px;
    color:white;
}
.container{
  width: 225px;
  height: 308px;
  position:absolute;
  transform:translate(-50%,-50%);
  box-shadow: 0 10px 20px rgb(red,green,blue)
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:black;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 45%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
.container:hover .overlay{
    opacity:0.8;
}



