*{
    margin: 0px;
    padding: 0px;
    font-family: primary-font, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family : overlay-font;
    src: url(fonts/orange\ juice\ 2.0.ttf);
}
@font-face {
    font-family : primary-font;
    src: url(fonts/Poppins-Regular.ttf);
}
:root{
    --lightPink : rgb(255, 194, 180);
    --darkPink : #FF8882;
    --darkTeal : #194350;
    --lightTeal : #9DBEB9;
}
body{
    background-color: rgba(255, 194, 180, 0.4);
}

/* Navbar */
nav{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    width: fit-content;
    z-index: 696969696969696969;
}
.navbar{
    display: flex;
    width: 20vw;
    padding: 10px 10px;
    justify-content: space-between;
    border-radius: 69vw;
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar div{
    background-color: var(--lightPink);
    border-radius: 69vw;
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
}
.navbar > div:hover{
    background-color: whitesmoke;
    transition-duration: 0.35s;
}
.navbar a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img{
    width: clamp(30px, 4vw, 40px);
    height: clamp(30px, 4vw, 40px);
}